body {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
}

section {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background: #87cefa;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.meyveler {
  width: 200px;
  height: 82 px;
}

.etsut {
  width: 210px;
  height: 125px;
}

.dondurucu {
  width: 210px;
  height: 125px;
}
