body {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.meyveler {
  width: 200px;
  height: 82 px;
}

.etsut {
  width: 210px;
  height: 125px;
}

.dondurucu {
  width: 210px;
  height: 125px;
}
